extends layout

block content
  div(class='container')
    div(class='row')
      h1= username
    div(class='row')
      div(class='col-md-2')
      div(class='col-auto')
        div(class='container')
          div(class='row')
            h3 Current Balance: #{bambeuros}
      div(class='col-md-2')
