extends layout

block content
  div(class='container')
    div(class='row')
      h1= username
    div(class='row')
      div(class='col-md-2')
      div(class='col-md-8')
        div(class='container-fluid card')
          div(class='row')
            div(class='col')
              br
              h3 Current Balance: #{bambeuros}
          div(class='row')
            div(class='col')
              hr
              br
              br
              p Send BambEuros:
              input(id='sendUsername', type='text' placeholder='Recipient Name')
              input(id='sendAmount', type='number' placeholder='Amount to Send')
              hr
              br
              button(class='btn btn-primary' id='sendButton') Send BambEuros
              br
              br
      div(class='col-md-2')
        button(class='btn btn-danger' id='signOut') Sign Out 
      script(src='javascripts/handleSend.js' type='text/javascript')
